.review{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.searchZone{
    width: 50em;
    height: 45em;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;

}
.commercesFound{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50em;
    height: 80%;
}

.reviewZone{
    width: 20em;
    height: 30em;
    display:flex;
    align-items:flex-start;
    justify-content:center;

}

textarea{
    all: unset;
    font-style: oblique;
    border: 0.1em solid #4ebac6; 
    border-radius: 0.3em;
    padding: 0.2em;
    height: 10em;
}
.messageLogin{
    width: 20em;
    background-color: #f9c6d7;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.2em;
    font-size: 2em;
    font-weight: bold;
    color: white;
    border-radius: 0.2em;
}
