.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 8em;
   
}

.logo{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    width: 15em;
}

.imgLogo{
    height: 7em;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
    a{
        all: unset;
        color: #f9c6d7;
        font-weight: bold;
        justify-content: center;
        cursor: pointer;
        margin-top: 5em;
        margin-right: 1em;
        padding: 0.5em;
        &:hover {
            background-color:#f9c6d7;
            color: #ffffff;
        }
    }
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoutButton{
    all: unset;

    color: white;
    background-color:#f9c6d7;
    justify-content: center;
    border-radius: 0.2em;
    cursor: pointer;
    padding: 0.3em;
    margin-right: 1em;
    margin-top: 5em;
  
    &:hover {
        border: 0.1em solid #f9c6d7;
        color: #f9c6d7;
        background-color: white;


    }
}